/*
    Martín Valetta - 251093
    Elena Couste - 333562
*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header, #informacion, #administrar, #jugar, h2, h3, p, img {
    margin-bottom: 15px;
}

header {
    background-color: #f9a370;
    position: sticky;
    top: 0;
    z-index: 1;
}

article {
    padding-left: 5px;
    padding-right: 5px;
}

.flexContainer {
    display: flex;
    justify-content: center;
}

header img {
    width: 200px;
}

nav ul li {
    display: inline-block;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
}

#informacion {
    background-color: #f6f1db;
}

.alumnos, figure {
    display: flex;
    align-items: center;
    margin-left: 2px;
}

figcaption {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.alumnos img {
    height: 90px;
    width: 90px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 100%;
}

#administrar {
    background-color: #ffd488;
}

.formButtons {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.formseccion1 { grid-area: 1 / 1 / 2 / 2; }
.formseccion2 { grid-area: 1 / 2 / 2 / 3; }
.formseccion3 { grid-area: 1 / 3 / 2 / 4; }
.formseccion4 { grid-area: 1 / 4 / 2 / 5; }
.formseccion5 { grid-area: 1 / 5 / 2 / 6; }
.formseccion6 { grid-area: 1 / 6 / 2 / 7; }
.formseccion7 { grid-area: 1 / 7 / 2 / 8; }
.formseccion8 { grid-area: 2 / 1 / 3 / 2; }
.formseccion9 { grid-area: 2 / 2 / 3 / 3; }
.formseccion10 { grid-area: 2 / 3 / 3 / 4; }
.formseccion11 { grid-area: 2 / 4 / 3 / 5; }
.formseccion12 { grid-area: 2 / 5 / 3 / 6; }
.formseccion13 { grid-area: 2 / 6 / 3 / 7; } 
.formseccion14 { grid-area: 2 / 7 / 3 / 8; } 

.buttonType {
    margin-right: auto;
    text-align: left;
    padding: 3px;
    margin-left: 3px;
    height: 100%;
}

.numSelector {
    height: 100%;
    width: 70px
}

#jugar {
    background-color: #fddac6;
}

.tableContainer {
    border: white solid 1px;
    padding-top: 10px;
}

.tableContainer table {
    width: 100%;
    margin-top: 15px;
    border: black solid 2px;
    padding-bottom: 75px;
}

.tableContainer th {
    border: black solid 1px;
    background-color: #f2f2f2;
}

.noMarginBottom {
    margin-bottom: -3px;
}

.configContainer {
    border: white solid 1px;
    padding-top: 20px;
}

.questionTitle {
    margin-left: 50px;
    margin-right: 50px;

}

.questionGeneralFormat {
    color: white;
    background-color: #e87c24;
    padding: 10px;
    text-align: center;
    border: white solid 2px;
}

.formFlexContainer {
    display: flex;
    justify-content: center;
}

.answereContainer {
    gap: 20px;
}

.buttonContainer {
    margin-top: 20px;
    margin-bottom: 15px;
    gap: 5px;
}

.buttonContainer input {
    padding: 3px;
}